{% extends "index.html" %}
{% load ans_tags %}
{% load thumbnail %}

{% block content %}
<div class="alert alert-block alert-success">
    <h1>Activation Complete!</h1>
    <p>Thanks for activating ANS account. Go to <a href="/">main page</a> to start using ANS.</p>
</div>
{% endblock content %}
