{% extends "index.html" %}

{% block addition_head %}
    <style type="text/css" media="screen">
        body {
            background-color: black
        }
    </style>
{% endblock addition_head %}
{% block content %}
<div style="; height:100%; padding:5%  ">
    <div style="background-color:white; width:65%; height:260px; margin:0 auto;">
        {% if login_state == 'bad' %}
        <div class="alert alert-error" style=" position: fixed; top:165px; height: 20px; width:50%; margin:0 auto; left: 23%; border-radius: 3px; ">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <p>Wrong Username or Password.</p>
        </div>
        {% endif %}
        <div style="padding-top:5%; margin-top:5%" >
            <div style="width:80%; background-color:#F2F2F2; height:1px; margin-left:10%; ">
            </div>
            <div style="margin-left:15%;">
                <h3>Sign in to ANS</h3>
            </div>

            <div style="width:500px; margin-left:15%;  margin-top:-2%; ">

                <form class="form-horizontal" method="post" action="">
                    {% csrf_token %}
                    <table cellpadding="5" >

                        <tr >
                            <td> <div class="control-group">
                                    <input class="input-xlarge"type="text" id="inputUsername" placeholder="Username" name="username" value="{{ username }}"/></div></td>
                            <td><p style="margin-top: -4%;">Forgot your <a href="/">username</a> ?<p></td>
                        </tr>
                        <tr >
                            <td> <div class="control-group">
                                    <input type="password" id="inputPassword" placeholder="Password" name="password" class="input-xlarge" />
                            </div></td>

                            <td style="margin-left: 2%;"><p style="margin-top: -13%">Forgot your <a href="/">password </a>?<p></td>
                        </tr> 
                                               <tr>
                            <div class="control-group">
                                <td>    
                                    <label class="checkbox" id="remember" >
                                        <input type="checkbox" name="remember_me" /> <font color="gray">Remember me</font>
                                        <button type="submit" class="btn btn-primary pull-right" >Sign in</button>
                                    </label>
                                </td>
                            </div>
                        </tr>
                    </table>
                </form>


            </div>


        </div>

    </div>

    <div style="margin: 0 auto; background-color:#F2F2F2; width:65%; height:40px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px;" >
        <p style="text-align: center; padding-top:1%;  color: black;">Already using ANS ? <a>Activite your account</a> </p>
    </div>
</div>

    </div>


    {% endblock %}
