{% extends "base.html" %}

<style type="text/css">
    body {
        background-color: #b0c4de;
    }
</style>
<link rel="stylesheet" type="text/css" href="/css/style.css" />

{% block content %}
    <h1>ANS registration</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Register" />
    </form>
{% endblock %}
