{% extends "index.html" %}
{% block content %}
<div id="content_body">
    {% block menu_bar %}
    <div class="navbar navbar-inverse " id="menu"> <!-- menu bar -->
        <div class="navbar-inner">
            <a href="/"  class="brand">Appointment Notification System</a>
            <ul class="nav nav-pills pull-right">
                <li><a href="/">Home</a></li>
                <li><a href="{% url agenda %}">Agenda</a></li>
                <li><a href="{% url contacts %}">Contacts</a></li>
                <li><a href="{% url messages %}">Messages</a></li>
                <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="icon-user" style="margin-right:3px;"></b>{{ request.session.current_user.get_fullname }}
                    <b class="caret" ></b>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a href="{% url agenda %}" >Help</a></li>
                    <li><a tabindex="-1" href="{% url accounts.user_profile %}">Setting</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="{% url ans.logout %}" >Logout</a></li>
                </ul>
                </li>
            </ul>
        </div> <!--End .navbar-inner -->
    </div> <!-- End div menu -->
    {% endblock menu_bar %}

    <div style="background-color: white;
        width: 60%;
        margin: 0 auto;
        padding-bottom: 1px;
        padding-left:1%;
        padding-right:1%;">
        <legend >Account</legend>
    <div style="padding-left: 6%;">
    <form class="form-horizontal" action="{% url accounts.user_profile %}" method="post" enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <hr />
        <input class="btn btn-primary" type="submit" name="submit" value="Save changes" />
    </form>
    </div>
</div>
</div> <!-- end content_body -->
{% endblock content %}
