{% extends "index.html" %}
{% load ans_tags %}
{% load thumbnail %}
{% block specific_style %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/style_agenda.css" media="screen">
{% endblock specific_style %}
{% block addition_head %}
        
        <script type="text/javascript">
            $(document).ready(function() {
                $('.dropdown-toggle').dropdown();               
            });
            
        </script>
{% endblock addition_head %}
{% block content %}

<div id="content_body"> <!-- content_body-->
    {% block menu_bar %}
    <div class="navbar navbar-inverse " id="menu"> <!-- menu bar -->
        <div class="navbar-inner">
            <a href="/"  class="brand">Appointment Notification System</a>
            <ul class="nav nav-pills pull-right">
                <li><a href="/" >Home</a></li>
                <li class="active"><a href="" >Agenda</a></li>
                <li><a href="{% url contacts %}" >Contacts</a></li>
                <li><a href="{% url messages %}" >Messages</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="icon-user" style="margin-right:3px;"></b>{{ request.session.current_user.get_fullname }}
                    <b class="caret" ></b>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a href="{% url help %}" >Help</a></li>
                    <li><a tabindex="-1" href="{% url accounts.user_profile %}">Settings</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="{% url ans.logout %}" >Logout</a></li>
                </ul>
                </li>
           </ul>
        </div> <!--End .navbar-inner -->
    </div> <!-- End div menu -->
    {% endblock menu_bar %}
    
                 <div class="" style="margin:0 auto; width: 60%;" id="agenda_body"> <!-- conversation_detail-->
                     <div id="agenda_list" >
                        <legend >Agenda</legend>
                        {% if not request.session.agendas_list %}
                        <h1 class="muted">You have no agenda.</h1>
                        {% endif %}
                         {% for agenda in request.session.agendas_list %}
                                <div id="message_detail" > <!-- message_detail-->
                                    <div>
                                        {% if agenda.message_id.sender == request.session.current_user %}
                                        <img src="{% thumbnail agenda.message_id.recipient.profile_picture 49x49 crop %}" id="message_picture" style="float:left;">
                                        {% else %}
                                        <img src="{% thumbnail agenda.message_id.sender.profile_picture 49x49 crop %}" id="message_picture" style="float:left;">
                                        {% endif %}
                                    </div>
                                    <div style="float:left;">
                                        <div id="sender"> <!-- sender-->
                                            {% if agenda.message_id.sender == request.session.current_user %}
                                            <p><b>{{ agenda.message_id.recipient.get_fullname }}</b></p>
                                            {% else %}
                                            <p><b>{{ agenda.message_id.sender.get_fullname }}</b></p>
                                            {% endif %}
                                        </div> <!-- end sender-->
                                        <p id="message_body" style="width:320px; word-wrap: break-word;">{{ agenda.message_id }}</p> <!-- message_body-->
                                    </div><!-- end message_body-->
                                    <div id="agenda" style="width:200px;"> <!--agenda -->
                                        <p><b>Agenda</b></p>
                                        <p id="agenda_date"><i class="icon-calendar"></i><b>Date:</b> {{ agenda.datetime|date:"d/m/y" }}</p>
                                        <p id="agenda_time"><i class="icon-time"></i><b>Time:</b> {{ agenda.datetime|date:"H:i" }}</p>
                                        <p id="agenda_place"><i class="icon-home"></i><b>Place:</b> {{ agenda.place }}</p>
                                        
                                    </div> <!-- end agenda-->
                                    <div id="date_time"> <!-- date_time-->
                                        <p id="send_date"><b>Date:</b> {{ agenda.message_id.created_on|date:"d/m/y" }}</p>
                                        <p id="send_time"><b>Time:</b> {{ agenda.message_id.created_on|date:"H:i" }}</p>
                                        <button class="btn btn-danger" id="confirm_agenda" href="#"><b class="icon-trash"></b></button>
                                            
                                    </div> <!-- end date_time-->
                                    
                                </div> <!-- end message_detail-->
                            <div id="underline_message"></div>
                                
                        
                         {% endfor %}
                    </div>
   
                 </div> <!-- end conversation_detail-->
{% block logout_modal %}
<!--Logout toggle-->
<div class="modal hide fade" id="logoutModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Logout ANS</h3>
    </div>
    <div class="modal-footer">
        <a href="{% url agenda  %}" class="btn">Close</a>
        <a href="{% url ans.logout %}" class="btn btn-danger">Logout</a>
    </div>
</div>

{% endblock logout_modal %}   
</div> <!--content_body-->
{% endblock content %}
