{% extends "index.html" %}
{% load ans_tags %}
{% load thumbnail %}
{% load ans_filters %}

{% block specific_style %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style_allmessages.css" media="screen">
{% endblock specific_style %}
{% block addition_head %}
<style type="text/css" media="screen">
    .js-view-details {
        color: #08C;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
        $(document).ready(function() {
            $('.dropdown-toggle').dropdown();
			$('a').tooltip();
            $('#foo0').click(function() {
            });
            $('#foo1').click(function() {
            });

            $('#foo2').click(function() {
                });
            $('.missed_call_photo').show();

            $('.js-view-details').toggle(
                function() {
                    $(this).parent().animate({height: '610px'});
                    $(this).find('b').html('Hide photo');
                },
                function(){
                    $(this).parent().animate({height: '130px'});
                    $(this).find('b').html('View photo');
                }
            );
        });
</script>

{% endblock addition_head %}

{% block content %}
<div id="content_body"> <!-- content_body-->
    {% block menu_bar %}
    <div class="navbar navbar-inverse " id="menu"> <!-- menu bar -->
        <div class="navbar-inner">
            <a href="/"  class="brand">Appointment Notification System</a>
            <ul class="nav nav-pills pull-right">
                <li><a href="/">Home</a></li>
                <li><a href="{% url agenda %}">Agenda</a></li>
                <li><a href="{% url contacts %}">Contacts</a></li>
                <li class="active"><a href="{% url messages %}" >Messages</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="icon-user" style="margin-right:3px;"></b>{{ request.session.current_user.get_fullname }}
                    <b class="caret" ></b>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a href="{% url help %}" >Help</a></li>
                    <li><a tabindex="-1" href="{% url accounts.user_profile %}">Settings</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1"  href="{% url ans.logout%}" >Logout</a></li>
                </ul>
                </li>
            </ul>
        </div> <!--End .navbar-inner -->
    </div> <!-- End div menu -->
    {% endblock menu_bar %}
    <div id="content" class="container-fluid"> <!-- content-->
        <div class="row-fluid" >
            <div id="topic_message" class="span4"> <!-- topic message-->
                <form action="{% url messages %}" method="post">
                    <ul id="message_nav_menu "class="nav nav-pills nav-stacked" >	
                        <li class="active" ><a id="foo0" href="#"><i class=" icon-inbox" style="margin-right:5px;"></i>All Message<b class=" icon-chevron-right pull-right"></b></a></li>
                        <li><a id="foo1" href="{% url missed_call.messages %}"><i class="icon-warning-sign" style="margin-right:5px;"></i>Missed Call Message<b class=" icon-chevron-right pull-right"></b></a></li>
                        <li><a id="foo2" href="{% url messages.send %}"><i class="icon-envelope" style="margin-right:5px;"></i>Send Message<b class=" icon-chevron-right pull-right"></b></a></li>
                    </ul>
                </form>
            </div> <!-- end topic message-->

            <div  id="allmessages" class="span8"> <!-- all message-->

                <div id="allmessage_list"> <!-- allmessage_list-->
                    <legend>All Messages</legend>
                    {% if not latest_messages %}
                    <h1 class="muted">You have no message.</h1>
                    {% endif %}
                    {% for message in latest_messages %}
                    
                    <div id="message_detail" style="height: 130px; overflow: hidden;"> <!-- message_detail-->
                        <div>
                            {% if request.session.current_user|is_sender:message.sender %}
                            <img src="{% thumbnail message.recipient.profile_picture 49x49 crop %}" id="message_picture" style="float:left;">
                            {% else %}
                            <img src="{% thumbnail message.sender.profile_picture 49x49 crop %}" id="message_picture" style="float:left;">
                            {% endif %}
                        </div>
                        <div style="float:left; width:280px; ">
                            <div id="sender"> <!-- sender-->
                                <p><b>
                                    {% if request.session.current_user|is_sender:message.sender %}
                                        {{ message.recipient.get_fullname }}
                                    {% else %}
                                        {{ message.sender.get_fullname }}
                                    {% endif %}
                                </b></p>
                            </div> <!-- end sender-->
                            
                            
                            <p id="message_body" style=" word-wrap:break-word;  width:260px;">{{ message.body }}</p> <!-- message_body-->
                            </div>
                        <!-- end message_body-->
                        <div id="agenda" style="width:200px; margin-left: 3%;"> <!--agenda -->
                            <p><b>Agenda</b></p>
                            {% if message.agenda %}
                            <p id="agenda_date"><i class="icon-calendar"></i><b>Date: </b>{{ message.agenda.datetime|date:"d/m/y" }}</p>
                            <p id="agenda_time"><i class="icon-time"></i><b>Time:</b> {{ message.agenda.datetime|date:"H:i" }}</p>
                            <p id="agenda_place"><i class="icon-home"></i><b>Place:</b> {{ message.agenda.place }}</p>
                            {% else %}
                            <p id="agenda_date"><i class="icon-calendar"></i><b>Date:</b></p>
                            <p id="agenda_time"><i class="icon-time"></i><b>Time:</b></p>
                            <p id="agenda_place"><i class="icon-home"></i><b>Place:</b></p>
                            {% endif %}

                        </div> <!-- end agenda-->
                        <div id="date_time" style="margin-left: -1%;" > <!-- date_time-->
                            <p id="send_date"><b>Date: </b>{{ message.created_on|date:"d/m/y" }}</p>
                            <p id="send_time"><b>Time: </b>{{ message.created_on|date:"H:i" }}</p>
                            {% if message.agenda and not message.agenda.confirm %}
                                <a class="btn btn-success" id="confirm_agenda" href="{% url approve_agenda message.agenda.id %}" title="Approve agenda"><b class="icon-edit"></b></a>
                            {% else %}
                                <a class="btn btn-success disabled" id="confirm_agenda" href="" title="No agenda"><b class="icon-edit"></b></a>
                            {% endif %}
                            {% if message.sender.username == "asterisk" %}
                                <a class="btn btn-warning disabled" title="You cannot send message to {{ message.sender.first_name }}"><b class="icon-envelope"></b></a>		
                            {% else %}
                                {% if request.session.current_user|is_sender:message.sender and message.sender.username != "asterisk" %}
                                    <a href="{% url messages.send %}?recipient={{ message.recipient }}" class="btn btn-warning" title="Send message to {{ message.recipient.first_name }}"><b class="icon-envelope"></b></a>		
                                {% else %}
                            
                                {% if request.session.current_user|is_sender:message.sender %}
                                    <a href="{% url messages.send %}?recipient={{ message.sender }}" class="btn btn-warning" title="Send message to {{ message.recipient.first_name }}"><b class="icon-envelope"></b></a>		
                                {% else %}
                                    <a href="{% url messages.send %}?recipient={{ message.sender }}" class="btn btn-warning" title="Send message to {{ message.sender.first_name }}"><b class="icon-envelope"></b></a>		
                                {% endif %}
                            {% endif %}
                            {% endif %}
                            {% if request.session.current_user|is_sender:message.sender %}
                            <a href="{% url conversation message.recipient.id %}" class="btn btn-primary" title="View conversation"><b class="icon-th-list"></b></a>
                            {% else %}
                            <a href="{% url conversation message.sender.id %}" class="btn btn-primary" title="View conversation"><b class="icon-th-list"></b></a>
                            {% endif %}
                        </div> <!-- end date_time-->
                    {% if message.missed_call_photo  %}
                    <span class="js-view-details"><p><i class="icon-picture" style="margin-left: 1%"></i><b>View photo</b></p>
                        <div class="missed_call_photo" style="margin:0 auto; margin-top:15%;">
                            <div>
                                <img src="{{ message.missed_call_photo.url }}" alt="Missed call photo" style="display:block; margin:0 auto;"/>
                            </div>
                        </div>
                    </span>
                {% endif %}

                    </div> <!-- end message_detail-->
                    <div id="underline_message"></div>	
                    {% endfor %}



                </div> <!-- end allmessage_list-->


            </div> <!-- end allmessage -->

        </div>
    </div> <!-- end content-->
</div> <!-- end content_body-->
{% block logout_modal %}
<!--Logout toggle-->
<div class="modal hide fade" id="logoutModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Logout ANS</h3>
    </div>
    <div class="modal-footer">
        <a href="main_page.html" class="btn">Close</a>
        <a href="{% url ans.logout %}" class="btn btn-danger">Logout</a>
    </div>
</div>
{% endblock logout_modal %}
{% endblock content %}
