<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png">

        <title>Appointment Notification System</title>
    </head>
    <body>
            {% block content %}
            <p>ANS</p>
            {{ time }}<br />
            <p>
            {% if user.is_authenticated %}
                Hello, {{ user.username }}<br />
                Welcome to <a href="/">ANS</a><br />
            {% else %}
                Why you no <a href="/accounts/login">log in</a> to ANS?<br />
                <!-- Do not have account? <a href="/accounts/register">Register</a> -->
            {% endif %}
            </p>
            <a href="/accounts/logout/?next=/">log out</a>
        
            {% endblock %}
    </body>
</html>
