{% extends "index.html" %}
{% load thumbnail %}
{% load ans_tags %}

{% block specific_style %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style_contact.css" media="screen">
{% endblock specific_style  %}

{% block addition_head %}

<script type="text/javascript">
    $(document).ready(function() {
        $('.dropdown-toggle').dropdown();
        $('button').tooltip();
        $('a').tooltip();
        });

</script>

{% endblock addition_head %}

{% block content %}

<div id="content_body"> <!-- content_body-->
    {% block menu_bar %}
    <div class="navbar navbar-inverse " id="menu"> <!-- menu bar -->
        <div class="navbar-inner">
            <a href="/"  class="brand">Appointment Notification System</a>
            <ul class="nav nav-pills pull-right">
                <li><a href="/">Home</a></li>
                <li><a href="{% url agenda %}">Agenda</a></li>
                <li class="active"><a href="{% url contacts %}">Contacts</a></li>
                <li><a href="{% url messages %}">Messages</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <b class="icon-user" style="margin-right:3px;"></b>{{ request.session.current_user.get_fullname }}
                    <b class="caret" ></b>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a href="{% url help %}" >Help</a></li>
                    <li><a tabindex="-1" href="{% url accounts.user_profile %}">Settings</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1"  href="{% url ans.logout %}">Logout</a></li>
                </ul>
                </li>
           </ul>
        </div> <!--End .navbar-inner -->
    </div> <!-- End div menu -->
    {% endblock menu_bar %}
    <div id="content" class="container-fluid"> <!-- content-->

        <div class="row-fluid" > <!-- topic_content-->
            <div id="topic_contact" class="span4">
                <ul class="nav nav-pills nav-stacked" >	
                    <li class="active">
                    <a href="{% url contacts %}">
                        <i class="icon-user" style="margin-right:5px;"></i>
                        All contacts
                        <b class=" icon-chevron-right pull-right"></b>
                    </a>
                    </li>
                    <li>
                    <a href="{% url groups %}">
                        <i class="icon-star" style="margin-right:5px;"></i>
                        Groups
                        <b class=" icon-chevron-right pull-right"></b>
                    </a>
                    </li>
                </ul>
            </div>

            <div class="span8"> <!-- right side -->
                <div id="allcontact"> <!--allcontact-->
                    <legend>All Contacts</legend>
                    {% for contact in request.session.contacts_list %}
                    <div id="contact_detail"> <!--contact_detail-->
                        <div>
                            {% if contact.profile_picture %}

                            <img src="{% thumbnail contact.profile_picture 49x49 crop %}" style="float: left;">
                            {% else %}
                            <img src="{{ STATIC_URL }}images/profile_pic4.jpg" style="float: left;">
                            {% endif %}
                        </div>

                        <div id="name" style="width: 280px;">
                            <p><b>{{ contact.get_fullname }}</b></p>
                            <p>{{ contact.get_type }}</p>
                        </div>
                        <div style="float: left;"> <!--status-->
                            <p ><b>Status</b></p>
                            <p id="availibility"style="width:120px; float:left;"><i class="icon-off" style="margin-right:5px;"></i>{{ contact.get_status }}</p>
                            <p id="place" style="float:left; width:160px; "><i class="icon-home" style="margin-right:5px;"></i>{{ contact.location }}</p>
                        </div> <!-- end status-->
                        <div class="pull-right" style="margin-right:3%;"  > <!-- group button -->
                            <p>
                            <div class="btn-group">
                            <a class="btn dropdown-toggle"
                               data-toggle="dropdown"
                               href="#">
                                <i class="icon-user"></i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!--This will show the modal for add or remove
                                the selected contact from groups.-->
                                <li><a href="#">Manage contact...</a></li>
                            </ul>
                            <a class="btn"
                               href="{% url messages.send %}?recipient={{ contact.username }}"
                               title="Send message"><i class="icon-envelope"></i></a>
                            <a class="btn"
                               href="{% url conversation contact.id %}"
                               title="View conversation"><i class="icon-list"></i></a>
                            </p>
                        </div>
                        </div> <!-- end group button-->

                    </div> <!--end contact_detail-->
                    <div id="underline_contact"></div>
                    {% endfor %}

                </div> <!--end allcontact-->

            </div>
        </div> <!-- end topic_content-->

    </div> <!-- end content-->
</div> <!-- end content_body -->
{% block logout_modal %}
<!--Logout toggle-->
<div class="modal hide fade" id="logoutModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Logout ANS</h3>
    </div>
    <div class="modal-footer">
        <a href="{% url contacts  %}" class="btn">Close</a>
        <a href="{% url ans.logout %}" class="btn btn-danger">Logout</a>
    </div>
</div>

{% endblock logout_modal %}   
<!--SendMessage toggle-->
<div class="modal hide fade" id="sendMessageModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Confirm</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure to send Message ?</p>
    </div>
    <div class="modal-footer">
        <a href="contact.html" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Send Message</a>
    </div>
</div>
{% endblock content %}
