{% extends "index.html" %}
{% load thumbnail %}
{% load ans_tags  %}
{% block specific_style %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style_conversation.css" media="screen">

{% endblock specific_style %}
{% block addition_head %}

<style type="text/css" media="screen">
    .js-view-details {
        color: #08C;
        text-decoration: none;
        cursor: pointer;
    }

</style>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.dropdown-toggle').dropdown();	
                $('a').tooltip();
                
                $('.missed_call_photo').show();


                $('.js-view-details').toggle(
                    function() {
                    $(this).parent().animate({height: '610px'});
                    $(this).find('b').html('Hide photo');
                    },
                    function() {
                        $(this).parent().animate({height: '120px'});
                        $(this).find('b').html('View photo');
                    });
			});
		</script>
{% endblock addition_head %}
{% block content %}

<div id="content_body"> <!-- content_body-->
    {% block menu_bar %}
    <div class="navbar navbar-inverse " id="menu"> <!-- menu bar -->
        <div class="navbar-inner">
            <a href="/"  class="brand">Appointment Notification System</a>
            <ul class="nav nav-pills pull-right">
                <li><a href="/" >Home</a></li>
                <li><a href="{% url agenda %}" >Agenda</a></li>
                <li><a href="{% url contacts %}" >Contact</a></li>
                <li class="active"><a href="{% url messages %}" >Messages</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="icon-user" style="margin-right:3px;"></b>{{ request.session.current_user.get_fullname }}
                    <b class="caret" ></b>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a href="{% url help %}" >Help</a></li>
                    <li><a tabindex="-1" href="{% url accounts.user_profile %}">Settings</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="{% url ans.logout%}" >Logout</a></li>
                </ul>
                </li>
           </ul>
        </div> <!--End .navbar-inner -->
    </div> <!-- End div menu -->
    {% endblock menu_bar %}
				 <div style="margin:0 auto; width:60%;" id="message_conversation"> <!-- conversation_detail-->
				 	
				 	<div id="body_message_conversation"  >
                        <legend>{{ sender.get_fullname }}
                            <a href="{% url messages.send %}?recipient={{ sender.username }}" class="btn btn-warning pull-right" style="margin-right: 2%;"><b class="icon-envelope"></b></a>
                            <a href="{% url messages %}" class="btn btn-danger pull-right" style="margin-right:1%;"><i class="icon-arrow-left"></i></a>
                        </legend>
                        {% for message in request.session.conversation_messages %}
                                    <div id="message_detail" style="min-height:120px; overflow:hidden; ">
    								<div>
                                    <img src="{% thumbnail message.sender.profile_picture 49x49 crop %}" style="float: left;">
    								</div>
    								<div style="float:left; width:300px;">
    								<div id="sender"> <!-- sender-->
                                        <p><b>{{ message.sender.get_fullname }}</b></p>
	    								</div> <!-- end sender-->
                                        <p id="message_body" style="word-wrap:break-word;  width:280px;">{{ message.body }}</p> <!-- message_body-->
    								</div><!-- end message_body-->
    								<div id="agenda" style="width: 200px;"> <!--agenda -->

    									<p><b>Agenda</b></p>
                                        {% if message.agenda %}
                                        <p id="agenda_date"><i class="icon-calendar"></i><b>Date:</b> {{ message.agenda.datetime|date:"d/m/Y" }}</p>
                                        <p id="agenda_time"><i class="icon-time"></i><b>Time:</b> {{ message.agenda.datetime|date:"H:i" }}</p>
                                        <p id="agenda_place"><i class="icon-home"></i><b>Place:</b> {{ message.agenda.place }}</p>
                                        {% else %}
                                        <p id="agenda_date"><i class="icon-calendar"></i><b>Date:</b></p>
                                        <p id="agenda_time"><i class="icon-time"></i><b>Time:</b></p>
                                        <p id="agenda_place"><i class="icon-home"></i><b>Place:</b></p>
                                        {% endif %}

    									
    								</div> <!-- end agenda-->
    								<div id="date_time" style="margin-left: -4%;"  > <!-- date_time-->
                                        <p id="send_date"><b>Date:</b> {{ message.created_on|date:"d/m/y" }}</p>
                                        <p id="send_time"><b>Time:</b> {{ message.created_on|date:"H:i" }}</p>
                                    {% if message.agenda and not message.agenda.confirm %}
                                    <a class="btn btn-success"
                                        id="confirm_agenda" href="{% url approve_agenda message.agenda.id %}"
                                        title="Approve agenda">
                                        <b class="icon-edit"></b>
                                    </a>
                                    {% else %}
                                    <a class="btn btn-success disabled"
                                        id="confirm_agenda" disabled="disabled" href=""
                                        title="Approved">
                                        <b class="icon-edit"></b>
                                    </a>
                                    {% endif %}
    								</div> <!-- end date_time-->

                                    {% if message.missed_call_photo %}
                                    <span class="js-view-details" ><p><i class="icon-picture" style="margin-left: 2%;"></i><b>View photo</b></p>
                                    <div class="missed_call_photo" style=" margin:0 auto; margin-top:10px;">
                                        <div>
                                            <img src="{{ message.missed_call_photo.url }}" alt="Missed call photo" style="display:block; margin:0 auto;"/>
                                        </div>
                                    </div>
                                    </span>
                                    {% endif %}
                                </div> <!-- end message_detail-->
    						<div id="underline_message"></div>
                        {% endfor %}
				 		
				 	</div>
   
  				 </div> <!-- end conversation_detail-->

{% block logout_modal %}
<!--Logout toggle-->
<div class="modal hide fade" id="logoutModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Logout ANS</h3>
    </div>
    <div class="modal-footer">
        <a href="{% url contacts  %}" class="btn">Close</a>
        <a href="{% url ans.logout %}" class="btn btn-danger">Logout</a>
    </div>
</div>

{% endblock logout_modal %}   
				<!--SendMessage toggle-->
								<div class="modal hide fade" id="sendMessageModal">
			  						<div class="modal-header">
			    						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
			    						<h3>Confirm</h3>
			 				 		</div>
			 				 		<div class="modal-body">
			 				 			<p>Are you sure to send Message ?</p>
			 				 		</div>
			  						<div class="modal-footer">
			    						<a href="fav_contact.html" class="btn">Close</a>
			    						<a href="#" class="btn btn-primary">Send Message</a>
			  						</div>
								</div>
				<!--end SendMessage toggle-->
</div> <!-- content_body -->
{% endblock content %}
