{% extends "index.html" %}
{% load thumbnail %}
{% load ans_tags %}

{% block specific_style %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style_contact.css" media="screen">
{% endblock specific_style %}

{% block addition_head %}

<script type="text/javascript">
    $(document).ready(function() {
        $('#editGroup').on('shown', function() {
            $('#edit_group_name_input').focus(); 
        });

        $('#edit_group_name_button').click(function() {
            $(this).attr('disabled', 'disabled');
            $('#loader').html('<img src="{{ STATIC_URL }}images/ajax-loader.gif" />');
            Dajaxice.ans_gcm.edit_group(Dajax.process, {
                'group_name': $('#edit_group_name_input').val(),
                'group_id': {{ request.session.group_id }}
            })
        });

        $('#deleteGroup').on('shown', function() {
            $("#yes_del_group").focus();
        });

        $('#yes_del_group').click(function() {
            $(this).attr('disabled', 'disabled');
            $('#loader2').html('<img src="{{ STATIC_URL }}images/ajax-loader.gif" />');
            Dajaxice.ans_gcm.delete_group(Dajax.process, {
                'group_id': {{ request.session.group_id }}
            })
        });


    });
</script>

{% endblock addition_head %}

{% block content %}
    <div id="content_body">
    {% block menu_bar %}
    <div class="navbar navbar-inverse " id="menu"> <!-- menu bar -->
        <div class="navbar-inner">
            <a href="/"  class="brand">Appointment Notification System</a>
            <ul class="nav nav-pills pull-right">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="{% url agenda %}">Agenda</a>
                </li>
                <li>
                    <a href="{% url contacts %}">Contacts</a>
                </li>
                <li>
                    <a href="{% url messages %}">Messages</a>
                </li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="icon-user" style="margin-right:3px;"></b>{{ request.session.current_user.get_fullname }}
                    <b class="caret" ></b>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a href="{% url help %}" >Help</a></li>
                    <li><a tabindex="-1" href="{% url accounts.user_profile %}">Setting</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="{% url ans.logout %}" >Logout</a></li>
                </ul>
                </li>
            </ul>
        </div> <!--End .navbar-inner -->
    </div> <!-- End div menu -->
    {% endblock menu_bar %}

    <div id="content" class="container-fluid"> <!-- content -->

        <div class="row-fluid" > <!-- topic_content-->
            <div id="topic_contact" class="span4">
                <ul class="nav nav-pills nav-stacked" >	
                    {% for g in request.session.groups %}
                    {% ifequal request.session.group_id g.id %}
                    <li class="active">
                        <a href="{% url group g.id %}">{{ g }}
                        <b class=" icon-chevron-right pull-right"></b>
                    </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url group g.id %}">{{ g }}
                        <b class=" icon-chevron-right pull-right"></b>
                    </a>
                    </li>
                    {% endifequal %}
                    {% endfor %}
                </ul>
            </div>

            <div class="span8"> <!-- start .span8 -->
                <div id="group_detail"> <!-- group detail -->
                    <legend>
                        Member of {{ request.session.group }}
                        <div class="pull-right">
                            <a class="btn" href="#editGroup" data-toggle="modal">Edit</a>
                            <a class="btn" href="#deleteGroup" data-toggle="modal">Delete</a>
                        </div>
                    </legend>
                        {% if request.session.member_ships %}
                        
                        {% for member in request.session.member_ships %}
                        <div id="contact_detail">
                            <div>
                                <img src="{% thumbnail member.ans_user.profile_picture 49x49 crop %}">
                                <a href="{% url conversation member.ans_user.id %}">
                                    {{ member.ans_user.first_name }} {{ member.ans_user.last_name }}
                                </a>
                            </div>
                        </div>
                        <div id="underline_contact"></div>

                    {% endfor %}
                    {% else %}
                    <h1 class="muted">No member in this group yet.</h1>
                    <h5 class="muted">You can add the group member from your <a href="{% url contacts %}">Contacts</a> page.</h5>
                    {% endif %}
            </div> <!-- end .span8 -->

        </div>
    </div>
</div>

<div id="editGroup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editGroupLabel" aria-hidden="true">
    <div class="modal-header" style=" height : 30px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4>Edit group name</h4>
    </div>
    <div class="modal-body">
        <input type="text" style="width: 95%" id="edit_group_name_input" name="edit_group_name_input" value="{{ request.session.group }}"/>
        <input id="edit_group_name_button" class="btn pull-right" value="Save" type="button" />
         <span id="loader"></span>
    </div>
</div>

<div class="modal hide fade" id="deleteGroup">
    <div class="modal-header" style="height:30px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidder="true">x</button>
        <h4> Are you sure you want to delete this group?</h4>
    </div>
    <div class="modal-body">
        <button class="btn pull-right" data-dismiss="modal" aria-hidder="true" id="no_del_group">No</button>
        <button class="btn btn-primary pull-right"style="margin-right: 2%;" id="yes_del_group">Yes</button>
         <span id="loader2"></span>
    </div>
</div>

{% endblock content %}
