{% extends "index.html" %}
{% load thumbnail %}
{% load ans_tags %}

{% block specific_style %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style_contact.css" media="screen">
{% endblock specific_style %}

{% block addition_head %}
<script type="text/javascript">
    $(document).ready(function() {

        $('#create_group_button').click(function() {
            create_group();
        });

        function create_group() {
            $('#loader').html('<img src="{{ STATIC_URL }}images/ajax-loader.gif" />');
            Dajaxice.ans_gcm.create_group(Dajax.process, {
                'group_name': $('#group_name_input').val()
            })
        }

        function disableCreateGroupButton() {
            $('#create_group_button').attr('disabled', 'disabled');
            $('#create_group_button').addClass('');
        }

        function enableCreateGroupButton() {
            $('#create_group_button').removeAttr('disabled');
            $('#create_group_button').removeClass('disabled');
        }

        function updateCountdown() {
            // limited message body at 140 characters
            var remaining = 140 - $('#group_name_input').val().length;
            if (remaining > 0 && remaining < 140) {
                enableCreateGroupButton();
            } else {
                disableCreateGroupButton();
            }
        }
        updateCountdown();
        $('#group_name_input').change(updateCountdown);
        $('#group_name_input').keyup(updateCountdown);
        

        $('#createGroup').on('shown', function() {
            $('#group_name_input').focus();
        })
    });
</script>
{% endblock addition_head %}

{% block content %}
    <div id="content_body">
    {% block menu_bar %}
    <div class="navbar navbar-inverse " id="menu"> <!-- menu bar -->
        <div class="navbar-inner">
            <a href="/"  class="brand">Appointment Notification System</a>
            <ul class="nav nav-pills pull-right">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="{% url agenda %}">Agenda</a>
                </li>
                <li class="active">
                    <a href="{% url contacts %}">Contacts</a>
                </li>
                <li>
                    <a href="{% url messages %}">Messages</a>
                </li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="icon-user" style="margin-right:3px;"></b>{{ request.session.current_user.get_fullname }}
                    <b class="caret" ></b>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a href="{% url help %}" >Help</a></li>
                    <li><a tabindex="-1" href="{% url accounts.user_profile %}">Setting</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="{% url ans.logout %}" >Logout</a></li>
                </ul>
                </li>
            </ul>
        </div> <!--End .navbar-inner -->
    </div> <!-- End div menu -->
    {% endblock menu_bar %}

    <div id="content" class="container-fluid"> <!-- content -->

        <div class="row-fluid" > <!-- topic_content-->
            <div id="topic_contact" class="span4">
                <ul class="nav nav-pills nav-stacked" >	
                    <li>
                    <a href="{% url contacts %}">
                        <i class="icon-user" style="margin-right:5px;"></i>
                        All contacts
                        <b class=" icon-chevron-right pull-right"></b>
                    </a>
                    </li>
                    <li class="active">
                    <a href="{% url groups %}">
                        <i class="icon-star" style="margin-right:5px;"></i>
                        Groups
                        <b class=" icon-chevron-right pull-right"></b>
                    </a>
                    </li>
                </ul>
            </div>

            <div class="span8"> <!-- start .span8 -->
                <div id="group_detail"> <!-- group detail -->
                    <legend>Groups
                    <a class="btn pull-right" href="#createGroup" data-toggle="modal">Create group</a>
                    </legend>
                        {% for g in request.session.groups %}
                        <ul>
                        <div>
                            <b><a href="{% url group g.id %}">{{ g }}</a></b><br />
                            <span class="muted">{% no_of_member g %}</span>
                        </div>

                    </ul>
                    <div id="underline_contact"></div>

                    {% endfor %}
                </div>
            </div> <!-- end .span8 -->
        </div>

<div id="createGroup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createGroupLabel" aria-hidden="true">
    <div class="modal-header" style=" height : 30px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h4>Create a new group </h4>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            <input type="text" style="width: 95%" placeholder="Group name" id="group_name_input" name="group_name_input" autocomplete="off">
            <input type="button" id="create_group_button" class="btn btn-primary pull-right" disabled="disabled" value="Create group" />
         <span id="loader"></span>
        </div>
    </div>
</div>

{% endblock content %}
