{% extends "index.html" %}
{% block content %}
    <div class="alert alert-block alert-success">
        <h1>Help</h1>
        <a href="/">Go home bro, you're drunk.</a>
    </div>

{% endblock content %}
