<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load dajaxice_templatetags %}
{% load staticfiles %}
<html style"background-color: black;">
	<head>
        <title>
            {% block title %}
            Appointment Notification System
            {% endblock title %}
        </title>
        <link rel="shortcut icon" href="{% static "images/favicon.png" %}">
		<!-- Bootstrap-->
        <link rel="stylesheet"
            href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
        {% block specific_style %}
        <link rel="stylesheet"
            href="{{ STATIC_URL }}css/style_index2.css" media="screen" />
        {% endblock specific_style %}
		<meta name="viewport"
            content="width=device-width, initial-scale=1.0">
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css"
            rel="stylesheet">
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                function disableSignupButton() {
                    $('#signupButton').attr('disabled', 'disabled');
                    $('#signupButton').addClass('');
                }

                function enableSignupButton() {
                    $('#signupButton').removeAttr('disabled');
                    $('#signupButton').removeClass('disabled');
                }

                function validateRegisterForm() {
                    var fullname = $('#registerFullName').val();
                    var email = $('#registerEmail').val();
                    var emailDomain = $('#registerEmailDomain').val();
                    var password = $('#registerPassword').val();
                    var password_confirm = $('#registerConfirmPassword').val();

                    var noOfSpaces = (fullname.split(' ').length - 1);
                    // FIXME 
                    //$('#registerEmail').val(noOfSpaces);

                    if (password != "" && password == password_confirm 
                        && email != "" && fullname != "") {
                        enableSignupButton();
                    } else {
                        disableSignupButton();
                    }
                }

                $('#registerFullName').change(validateRegisterForm);
                $('#registerFullName').keyup(validateRegisterForm);

                $('#registerEmail').change(validateRegisterForm);
                $('#registerEmail').keyup(validateRegisterForm);

                $('#emailDomain').change(validateRegisterForm);
                $('#emailDomain').keyup(validateRegisterForm);

                $('#registerPassword').change(validateRegisterForm);
                $('#registerPassword').keyup(validateRegisterForm);

                $('#registerConfirmPassword').change(validateRegisterForm);
                $('#registerConfirmPassword').keyup(validateRegisterForm);


            });
        </script>
         {% dajaxice_js_import %}
        <!-- addition_head -->
        {% block addition_head %}
        
        {% endblock addition_head %}
	</head>
	<body >
        {% block header %}
        <div id="header">
            <a href="/"><div id="logo"
                style="background:url('{{ STATIC_URL }}images/ans_icon.png')
                no-repeat; "></div></a>
            <div id="project_name">	
                <blockquote class="pull-right" >
                    <p>
                    <b>APPOINT TO THE SUCCESS, INTEGRITY AND ENTHUSIASM</b>
                    </p>
                    <small>ANS</small>
                </blockquote>
            </div>
        </div>
        <div id="underline2"></div>
        {% endblock header %}
        {% block content %}
			<div  id="content_body">
				
				<div id="content_detail">
				<div id="content_detail_inside">
                    <div id="picture">
                        <div id="agenda">
                            <legend>
                                <p style="color:#603913; "> AGENDA</p>
                            </legend>
                            <img
                                src="{{ STATIC_URL }}images/content_agenda.png"
                                style="float:left;" />
                            <p id="content_agenda" class="white">
                            The agenda in the application gives more variety for
                            the user to use agenda appointment in the
                            application forms.
                            </p>
                        </div>
                        <div id="contact">
                            <legend>
                                <p style="color:#603913;">CONTACT</p>
                            </legend>
                            <img
                                src="{{ STATIC_URL }}images/content_contact.png"
                                style="float:left;" />
                            <p id="content_contact" class="white">
                            ANS give ability to search contact list for the user
                            more effectively.
                            </p>
                        </div>
                        <div id="message">

                            <legend>
                                <p style="color:#603913;"> MESSAGE </p>
                            </legend>
                            <img
                                src="{{ STATIC_URL }}images/content_message.png"
                                style="float:left; "/>
                            <p id="content_message" class="white">
                            Text messaging is available in the application for
                            the user to send message to another user.
                            </p>
                        </div>
                        <div id="status">
                            <legend>
                                <p style="color:#603913;">STATUS</p>
                            </legend>
                            <img
                                src="{{ STATIC_URL }}images/content_status.png"
                                style="float:left;" />
                            <p id="content_status" class="white">
                            Manage the status for the user  to let information 
                            well-known for the other user.</p>
                        </div>

                    </div><!-- end div picture-->
                </div><!-- end div content_detail_inside -->
				</div>
				<div id="login_register">
					<div id="login_register_inside">
					<div id="login" style="height:100px; width:290px;">
                        <form class="form-horizontal" method="post" action="{% url "accounts.login" %}">
                        {% csrf_token %}
  						<div class="control-group">
      						<input class="input-xlarge"type="text" id="inputUsername" placeholder="Username or email" name="username">
					  	</div>
					  <div class="control-group">
					 
					      <input type="password" id="inputPassword" placeholder="Password" name="password" class="input-xlarge">
					 
					  </div>
					  <div class="control-group" style="margin-top:25px;">
                          <label class="checkbox" id="remember">
                                <input type="checkbox" name="remember_me"> <font color="gray">Remember me</font>
                            <button type="submit" class="btn btn-primary pull-right">Sign in</button>
					      </label>
					  </div>
                  </form>
						
					</div>
					<div id="register">
						<h4> <font color="#6E6E6E">Need ANS ?</font> <font color="gray">Sign up</font></h4>
						<div id="underline"></div>
                        <!-- register form -->
                        <!-- -->
                        <form class="form-horizontal" action="{% url "accounts.register2" %}" method="post">
                            {% csrf_token %}
  							<div class="control-group">
    							<input class="input-xlarge"type="text" id="registerFullName" placeholder="Full Name" name="fullname">
					    
					  		</div>
					  		<div class="control-group">
					  			<input class="input-small" type="text" id="registerEmail" placeholder="Email" name="email"> @
					  				<select class="input-medium" id="registerEmailDomain" name="email_domain">
							    		<option value="st.sit.kmutt.ac.th">st.sit.kmutt.ac.th</option>
                                		<option value="sit.kmutt.ac.th">sit.kmutt.ac.th</option>
									</select>

					  		</div>
					  	<div class="control-group">
                            <input class="input-xlarge" type="password" id="registerPassword" placeholder="Password" name="password">
					  	</div>
					  <div class="control-group">
					  	<input class="input-xlarge" type="password" id="registerConfirmPassword" placeholder="Password Confirm" name="password_confirm">
					  </div>
					  <div class="control-group">
					      <button id="signupButton" type="submit" class="btn btn-success disabled pull-right" disabled="disabled">Sign up</button>
					  </div>
                  </form>
                  <!-- -->
                  <!-- end register form -->
                  <div id="related" style="width:270px;">


                      <a href="http://developer.android.com/index.html" target="_blank"><img src="{{ STATIC_URL }}images/android.png" style="margin-right:10px;"
                          onmouseover="this.src='{{ STATIC_URL }}images/android_hover.png'" 
                          onmouseout="this.src='{{ STATIC_URL }}images/android.png'"></a>
                      <a href="http://www.python.org/ " target="_blank"><img src="{{ STATIC_URL }}images/python.png" style="margin-right:10px;"
                          onmouseover="this.src='{{ STATIC_URL }}images/python_hover.png'" 
                          onmouseout="this.src='{{ STATIC_URL }}images/python.png'"></a>
                      <a href="https://www.djangoproject.com/ " target="_blank"><img src="{{ STATIC_URL }}images/django.png" style="margin-right:10px;"
                          onmouseover="this.src='{{ STATIC_URL }}images/django_hover.png'" 
                          onmouseout="this.src='{{ STATIC_URL }}images/django.png'"></a>
                      <a href="http://www.asterisk.org/" target="_blank"><img src="{{ STATIC_URL }}images/asterisk.png" 
                          onmouseover="this.src='{{ STATIC_URL }}images/asterisk_hover.png'" 
                          onmouseout="this.src='{{ STATIC_URL }}images/asterisk.png'"></a>
                  </div> <!-- end div related -->

						
					</div>
				
				</div>
			</div>
        </div><!-- end div content_body -->
        {% endblock %}

		
				
		
	</body>

</html>
