<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
    
        <title>Upload</title>
        
    </head>
    <body>
        {% block content %}

        {% if documents %}
            <ul>
                {% for document in documents %}
                
                <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        
        {% endif %}

        <form action="{% url list %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <input type="submit" value="Upload" />
        </form>
        {% endblock %}
        
    </body>
</html>
