{% extends "index.html" %}
{% load ans_tags %}
{% load thumbnail %}

{% block specific_style %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/style_mainPage.css">
{% endblock %}
{% block addition_head  %}

<!-- Date Picker-->
<script src="datepicker/js/bootstrap-datepicker.js"></script>
<!-- Time Picker-->
<script src="timepicker/js/bootstrap-timepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#other_place").hide();
        var userStatus = "{{ request.session.current_user.status }}";
        var userLocation = "{{ request.session.current_user.location }}";

        function disableUpdateButton() {
            $('#update_button').attr('disabled', 'disabled');
            $('#update_button').addClass('disabled');
        }

        function enableUpdateButton() {
            $('#update_button').removeAttr('disabled');
            $('#update_button').removeClass('disabled');
        }

        $(':radio[value=' + userStatus + ']').attr('checked', 'checked');
        

        $('#place_options option').each(function (index) {
            if ($(this).val() == userLocation) {
                $(this).attr('selected', 'selected');
            }
        });

        $(':radio').change(function () {
            if ($(this).val() != userStatus) {
                enableUpdateButton();
            } else {
                disableUpdateButton();
            }
        });

        $('#place_options').change(function () {
                if ($(this).val() != userLocation) {
                if($(this).val() == "Other..."){
                    $("#other_place").show();
                } else {
                    $("#other_place").hide();
                }
                enableUpdateButton();
            } else {
                disableUpdateButton();
            }
        })

        $('.dropdown-toggle').dropdown();
    });
</script>
{% endblock addition_head %}
{% block content %}

<div id="content_body"> <!-- Content_Body-->
    {% block menu_bar %}
    <div class="navbar navbar-inverse " id="menu"> <!-- menu bar -->
        <div class="navbar-inner">
            <a href="/"  class="brand">Appointment Notification System</a>
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="{% url agenda %}">Agenda</a></li>
                <li><a href="{% url contacts %}">Contacts</a></li>
                <li><a href="{% url messages %}">Messages</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <b class="icon-user" style="margin-right:3px;"></b>
                    {{ request.session.current_user.get_fullname }}
                    <b class="caret" ></b>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a href="{% url help %}" >Help</a></li>
                    <li><a tabindex="-1" href="{% url accounts.user_profile %}">
                        Setting</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                    <a tabindex="-1" href="{% url ans.logout %}">
                        Logout
                    </a>
                    </li>
                </ul>
                </li>
            </ul>
        </div> <!--End .navbar-inner -->
    </div> <!-- End div menu -->
    {% endblock menu_bar %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4" id="status_info" style="height: 100%;">
                <!--Sidebar content-->
                <div id="status">	<!-- Status-->
                    <div id="personal_info"> <!-- Personal_info-->
                        <div id="profile_pic">
                            {% if request.session.current_user.profile_picture %}
                            <img src="{% thumbnail request.session.current_user.profile_picture 149x149 crop %}" class="img-polaroid" alt="avatar">
                            {% else %}
                            <img src="{{ STATIC_URL }}images/profile_pic1.jpg" class="img-polaroid" alt="avatar">
                            {% endif %}
                        </div>
                        <div id="information">
                            <p class="gray" ><b>{{ request.session.current_user.get_fullname }}</b></p>
                            <p class="gray"><b>Role:</b> {{ request.session.current_user.get_type }}</p>
                            <p class="gray"><b>Username: </b><nobr id="id">{{ user.username }}</nobr></p>
                            <p class="gray"><b>Availability: </b> <nobr id="blank_availability">{{ request.session.current_user.get_status }}</nobr></p>
                            <p class="gray"><b>Place: </b> <nobr id="blank_Place">{{ request.session.current_user.location }}</nobr></p>	
                        </div>
                    </div>	 <!--  End Personal_info-->
                </div> <!-- Status-->
                <br />
                <div id="availability"> <!-- Availavility-->
                    <form method="post" action="{% url update_profile %}">
                        {% csrf_token %}
                        <a class="btn" href="{% url accounts.user_profile %}">Edit your info</a>
                        <legend>Availability</legend>
                        <label class="radio">
                            <input type="radio" name="availability" value="0">
                            Available
                        </label>
                        <label class="radio">
                            <input type="radio" name="availability" value="1">
                            Busy
                        </label>
                        <label class="radio">
                            <input type="radio" name="availability" value="2">
                            Appear Offline
                        </label>
                </div><!-- End Availivility-->
                <div id="place"> <!-- Place-->
                        <legend>Place</legend>
                        <select name="place" id="place_options">
                            <option></option>
                            <option>CB 2</option>
                            <option>LNG</option>
                            <option>SIT Building</option>
                            <option>SIT Library</option>
                            <option>KMUTT Library</option>
                            <option>Other...</option>
                        </select>
                        <div>
                        <input id="other_place" type="text" name="other_place" placeholder="Such as canteen" />
                        </div>
                        <div id="group_button">
                            <button class="btn btn-primary disabled" role="button" id="update_button" disabled="disabled">Update</button>
                        </div>
                    </form>
                </div> <!-- End Place-->

            </div>
            <div class="span8" id="content">

                <legend>Welcome to ANS (Appointment Notification System)</legend>

                {{ request.session.current_user.get_fullname }}<br />
                {{ request.session.current_user.get_status }}<br />
                {{ request.session.current_user.get_type }}


            </div>
        </div>
    </div>
</div> <!-- End Content_body-->
{% block logout_modal %}
<!--Logout toggle-->
{% endblock logout_modal %}
{% endblock content %}
