{% extends "index.html" %}

{% block content %}
<br />
<form action="{% url contacts %}" method="post">
    {% csrf_token %}
    <button class="btn btn-primary">Contacts</button>
</form>
    {% if not latest_messages %}
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <strong>No message</strong>
    </div>
    {% endif %}
    <ul>
        {% for message in latest_messages %}
        <blockquote>
            <p>{{ message.body }}</p><br />
            <small>
                from <a href="."><b>{{ message.sender }}</b></a>
                to <a href="."><b>{{ message.recipient }}</b></a><br />
                <i class="icon-time"></i> {{ message.created_on }}
            </small>
            <br />
            {{ message.agenda.confirm }}<br />
            {{ message.agenda.datetime }}<br />
            {{ message.agenda.place }}<br />
        </blockquote>
        {% endfor %}
    </ul>
{% endblock %}
