{% extends "index.html" %}
{% load thumbnail %}
{% load ans_tags %}
{% block specific_style %}
	
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL  }}css/style_misscallmessage.css" media="screen">
{% endblock specific_style %}
{% block addition_head %}
<style type="text/css" media="screen">
    .js-view-details{
        color:#08C;
        text-decoration:none;
        cursor:pointer;
    }
</style>
		<!-- Char Count in text area-->
        <script src="{{ STATIC_URL }}charcounter/jquery.jqEasyCharCounter.js" type="text/javascript">
		</script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('.dropdown-toggle').dropdown();

                function disableSendButton() {
                    $('#btn_sendmessage').attr('disabled', 'disabled');
                    $('#btn_sendmessage').addClass('');
                }

                function enableSendButton() {
                    $('#btn_sendmessage').removeAttr('disabled');
                    $('#btn_sendmessage').removeClass('disabled');
                }

                function updateCountdown() {
                    // limited message body at 140 characters
                    var remaining = 140 - $('#message_body').val().length;
                    if (remaining > 0 && remaining < 140) {
                        enableSendButton();
                    } else {
                        disableSendButton();   
                    }
                    if (remaining < 21 && remaining >= 11) {
                        $('.countdown').removeClass('text-error muted');
                        //$('.countdown').addClass('text-warning');
                    } else if (remaining < 11) {
                        $('.countdown').removeClass('muted');
                        $('.countdown').addClass('text-error');
                    } else {
                        $('.countdown').removeClass('text-error');
                        $('.countdown').addClass('muted');
                    }
                    $('.countdown').text(remaining);
                }
                updateCountdown();
                $('#message_body').change(updateCountdown);
                $('#message_body').keyup(updateCountdown);
                $('#message_body').keydown(updateCountdown);

                $('.reply-missedcall').click(function() {
                    var recipient = $(this).data('recipient');
                    //document.title = recipient; 
                    $('[name="recipient"]').val(recipient);
                    });
                $('.missed_call_photo').show();
                $('.js-view-details').toggle(
                    function() {
                        $(this).parent().animate({height: '570px'});
                        $(this).find('b').html('Hide photo');
                    },
                    
                    function() {
                        $(this).parent().animate({height: '70px'});
                        $(this).find('b').html('View photo');
                    
                    }
                    );
			});
			
		</script>
    
{% endblock addition_head %}
{% block content %}
<div id="content_body"> <!-- content_body-->
    {% block menu_bar %}
    <div class="navbar navbar-inverse " id="menu"> <!-- menu bar -->
        <div class="navbar-inner">
            <a href="/"  class="brand">Appointment Notification System</a>
            <ul class="nav nav-pills pull-right">
                <li><a href="/" id="home">Home</a></li>
                <li><a href="{% url agenda %}" >Agenda</a></li>
                <li><a href="{% url contacts %}" >Contacts</a></li>
                <li class="active"><a href="{% url messages %}" >Messages</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="icon-user" style="margin-right:3px;"></b>{{ request.session.current_user.get_fullname }}
                    <b class="caret" ></b>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a href="{% url help %}" >Help</a></li>
                    <li><a tabindex="-1" href="{% url accounts.user_profile %}">Settings</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" id="logout" href="{% url ans.logout %}" >Logout</a></li>
                </ul>
                </li>
            </ul>
        </div> <!--End .navbar-inner -->
    </div> <!-- End div menu -->
    {% endblock menu_bar %}
				<div id="content" class="container-fluid">

					 <div class="row-fluid" >
					 	<div id="topic_message" class="span4">
					 			<ul class="nav nav-pills nav-stacked" >	
						 			<li  ><a href="{% url messages %}"><i class="icon-inbox" style="margin-right:5px;"></i>All Message<b class=" icon-chevron-right pull-right"></b></a></li>
						 			<li  class="active" ><a href="#"><i class="icon-warning-sign" style="margin-right:5px;"></i>Missed Call Message<b class=" icon-chevron-right pull-right"></b></a></li>
						 			<li ><a href="{% url messages.send %}"><i class="icon-envelope" style="margin-right:5px;"></i>Send Message<b class=" icon-chevron-right pull-right"></b></a></li>
								</ul>
					 	</div>
					 
                        <div  id="allmessages" class="span8"> <!--allmessage-->

                            <div id="allmessage_list"> <!--allmessage_list -->
                                <legend>Missed Call Messages</legend>
                                {% if not request.session.missed_call_messages %}
                                <h1 class="muted">You don't have any missed call.</h1>
                                {% endif %}
                                {% for message in request.session.missed_call_messages %}
                                <div id="message_detail" style="height:70px; overflow:hidden;" > <!-- message_detail -->
                                    <div>
                                        <img src="{% thumbnail message.sender.profile_picture 48x48 crop %}" id="message_picture" style="float:left;">
                                    </div>
                                    <div style="float:left;">
                                        <div id="sender">
                                            <p><b>{{ message.sender.get_fullname }}</b></p>
                                        </div>
                                        <p id="message_body_BUG" style="width:300px; margin-left: 10px">{{ message.body }}</p>
                                    </div>
                                    <div id="date_time" style="float:left;"> <!--date_time-->
                                        <p id="send_date"><b>Date:</b> {{ message.created_on|date:"d/m/y" }}</p>
                                        <p id="send_time"><b>Time:</b> {{ message.created_on|date:"H:i" }}</p>

                                    </div> <!--end date_time -->
                                    <div style="float: left; margin-left: 5%;">
                                    {% if message.sender.username == "asterisk" %}
                                    <button data-toggle="modal" data-recipient="{{ message.sender }}" data-toggle="modal" title="Add this item" class="reply-missedcall btn btn-primary pull-right disabled" href="#missedcallModal" disabled>Reply</button>
                                    {% else %}
                                    <button data-toggle="modal" data-recipient="{{ message.sender }}" data-toggle="modal" title="Add this item" class="reply-missedcall btn btn-primary pull-right" href="#missedcallModal">Reply</button>
                                    {% endif %}
                                    </div>
                                    {% if message.missed_call_photo %}
                                    <span class="js-view-details" ><p ><i class="icon-picture" style="margin-left: 5%;"></i><b>View photo</b></p>
                                        <div class="missed_call_photo" style=" margin:0 auto;  ">
                                            <div style="margin-top:50px;">
                                                <img src="{{ message.missed_call_photo.url }}" alt="Missed call photo" style="display:block; margin:0 auto;"/>
                                            </div>
                                        </div>
                                    </span>
                                    {% endif %}

                                </div> <!--end message_detail-->

                                <div id="underline_message"></div>
                                {% endfor %}

                            </div> <!--end allmessage_list -->

                        </div> <!--end allmessage -->
            </div>
        </div>
            
{% block logout_modal %}
<!--Logout toggle-->
<div class="modal hide fade" id="logoutModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Logout ANS</h3>
    </div>
    <div class="modal-footer">
        <a href="main_page.html" class="btn">Close</a>
        <a href="{% url ans.logout %}" class="btn btn-danger">Logout</a>
    </div>
</div>

{% endblock logout_modal %}   
<div class="modal hide fade" id="missedcallModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Reply Message</h3>
    </div>
    <form action="{% url messages.reply %}" method="post">
    {% csrf_token %}
    <div class="modal-body">
        <textarea rows="3" style="width:95%" id="message_body" class="text" name="message_body"></textarea>
    </div>
    <div class="modal-footer">
        <input type="hidden" name="missed_call" value="false" />
        <input type="hidden" name="agenda" value="false" />
        <input type="hidden" name="recipient" value="" />
        <span class="countdown" style="width: 30px; float: left;"></span>
        <button id="btn_sendmessage" class="btn btn-primary disabled"><i class="icon-envelope" style="margin-right:5px;" disabled="disabled"></i>Send Message</button>
    </div>
    </form>
</div>


{% endblock content %}
