<!DOCTYPE HTML>
{% load crispy_forms_tags %}
{% load dajaxice_templatetags %}
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
    
        <title>New_index</title>
        
    </head>
    <body>
        
    </body>
</html>
