<!DOCTYPE html>
<html>
	<head>
        <title>{% block title %}Appointment Notification System{% endblock %}</title>

        <!-- Bootstrap-->
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL}}bootstrap/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style_index.css" media="screen" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		
            {% block header %}
            
			<div id="header">
				<div id="logo">
				</div>
				<div id="project_name">	
					<blockquote class="pull-right" >
						<p>
							<b>APPOINT TO THE SUCCESS, INTEGRITY AND ENTHUSIASM</b>
						</p>
						<small>Appointment Notification System</small>
					</blockquote>
				</div>
			</div>
            {% endblock header %}
			<div id="underline2"></div>

            {% block content %}
            
			<div id="content_body">
				
				<div id="content_detail">
				<div id="content_detail_inside">
					<div id="picture">
						<div id="agenda">
							<legend><p style="color:#603913; "> AGENDA</p> </legend>
							<img src="{{ STATIC_URL }}images/content_agenda.png" style="float:left; "/>
                    		<p id="content_agenda" class="white">The agenda in the application gives more variety for the user to use agenda appointment in the applcation forms.</p>
						</div>
						<div id="contact">
							<legend><p style="color:#603913;"> CONTACT </p></legend>
							<img src="{{ STATIC_URL }}images/content_contact.png" style="float:left; " />
                     		<p id="content_contact" class="white">ANS give ability to search contact list for the user more effectively.</p>
						</div>
						<div id="message">
							
							<legend><p style="color:#603913;"> MESSAGE </p></legend>
							<img src="{{ STATIC_URL }}images/content_message.png" style="float:left; "/>
                     		<p id="content_message" class="white">Text messaging is available in the application for the user to send message to another user.</p>
						</div>
						<div id="status">
							
							<legend><p style="color:#603913; "> STATUS </p></legend>
							<img src="{{ STATIC_URL }}images/content_status.png" style="float:left; " />
                     		<p id="content_status" class="white">Manage the status for the user  to let information well-known for the other user.</p>
						</div>
					</div>
				</div>
				</div>
				<div id="login_register">
					<div id="login">
                        <form class="form-horizontal" method="post" action="{% url accounts.login %}">
                            {% csrf_token %}
                            <div class="control-group">
                                <input class="input-xlarge"type="text" id="inputUsername" placeholder="Username" name="username">
                            </div>
                            <div class="control-group">
                                <input type="password" id="inputPassword" placeholder="Password" name="password">
                                <button id="signIn" type="submit" class="btn-primary">Sign in</button>
                            </div>
                            <div class="control-group">
                                <label class="checkbox" id="remember">
                                    <input type="checkbox"> <font color="gray">Remember me</font>
                                </label>
                            </div>
					</form>
						
					</div>
					<div id="register">
						<h4> <font color="#6E6E6E">Need ANS ?</font> <font color="gray">Sign up</font></h4>
						<div id="underline"></div>
						<form class="form-horizontal">
  							<div class="control-group">
    							<input class="input-xlarge"type="text" id="registerFullname" placeholder="Full Name">
					    
					  		</div>
					  		<div class="control-group">
					  			<input class="input-small" type="text" id="registerEmail" placeholder="Email"> @
					  				<select class="input-medium" id="selectorEmail">
							    		<option value="st.sit.kmutt.ac.th">st.sit.kmutt.ac.th</option>
                                		<option value="sit.kmutt.ac.th">sit.kmutt.ac.th</option>
                                		<option value="vip.sit.kmutt.ac.th">vip.sit.kmutt.ac.th</option>
                                		<option value="kmuttsit.net">kmuttsit.net</option>
									</select>

					  		</div>
					  	<div class="control-group">
							<input class="input-xlarge" type="password" id="registerPassword" placeholder="Password">
					  	</div>
					  <div class="control-group">
					  	<input class="input-xlarge" type="password" id="registerConfirmPassword" placeholder="Password Confirm">
					  </div>
					  <div class="control-group">
					    
					      <button id="signUp" type="submit" class="btn-warning"><font color="black"><b>Sign up for ANS</b></font></button>
					  </div>
					</form>
						
                </div> <!-- end div register -->
				
            </div><!-- end div login_register -->
            {% endblock content %}
        </div><!-- end div content body -->
		
    </body>
</html>
