<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{{ STATIC_URL }}css/register_style.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="{{ STATIC_URL }}js/register_javas.js" rel="stylesheet" type="text/javascript" media="screen"/>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-placeholder.js"></script>
</head>

<body>
	<div id="main">
    	<div id="content">
        	<div id="logo">
          
            </div>
         
    		<div id="register_form">
            	<form action="register.html" method="post">
                	<table>
                        <tr>
                        	<td><input type="text" name="name" id="input_username" placeholder="Username" required="required" /> </td> 
                            
                        </tr>
                               <tr>
                            	<td><input type="text" name="email" id="input_email" placeholder="Email" required="required" /></td>
                                <td><p style="color:#999; margin:5px; margin-top:25px;">@</p></td>
                                <td id="list">
                                    <select id="selector">
                                      <option value="st.sit.kmutt.ac.th">st.sit.kmutt.ac.th</option>
                                      <option value="sit.kmutt.ac.th">sit.kmutt.ac.th</option>
                                      <option value="vip.sit.kmutt.ac.th">vip.sit.kmutt.ac.th</option>
                                      <option value="kmuttsit.net">kmuttsit.net</option>
                                      
                                    </select>						
								</td>
                            </tr>
                        	<tr>
                            	<td><input type="password" name="password" id="input_password" placeholder="Password" required="required" /></td>
                            </tr>
                            <tr>
                            	<td><input type="password" name="password" id="input_passwordcon" placeholder="Password Confirm" required="required" /></td>
                            </tr>
                     
                            <tr>
                            	<td><input type="submit" value="Sign up" id="btn_register_submit" style="cursor: pointer"/></td>
                            </tr>
                    </table>
                </form>
                <div id="notice">
                	<ol>
                	<lh><u><b>Notice</b></u></lh>
                    <li> Username: Required 30 characters or fewer Letters, digits and @/./+/-/_ only.
                    <li> E-mail: Required email that come from SIT KMUTT only.
                    <li> Password confirmation: Enter the same password as above, for verification.
                    <li> Activate your account follow this <a href="http://www.sit.kmutt.ac.th"  style="color:white">link</a>
                   </ol>
                
                
                </div><!--end notice-->
        	
        	</div><!--end register_form-->
           
        </div>
    </div><!--end main-->

</body>
</html>
