{% extends "index.html" %}
{% load ans_tags  %}

{% block specific_style %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style_sendmessage.css" media="screen">
{% endblock specific_style %}
{% block addition_head %}
		<!-- Date Picker-->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
        <script src="{{ STATIC_URL  }}datepicker/js/bootstrap-datepicker.js">
		</script>
		<!-- Time Picker-->
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}timepicker/css/timepicker.css" media="screen">
        <script src="{{ STATIC_URL }}timepicker/js/bootstrap-timepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-notify/css/bootstrap-notify.css" media="screen">
		<script type="text/javascript">
			$(document).ready(function() {
				$('.dropdown-toggle').dropdown();

                function disableSendButton() {
                    $('#btn_sendmessage').attr('disabled', 'disabled');
                    $('#btn_sendmessage').addClass('');
                }

                function enableSendButton() {
                    $('#btn_sendmessage').removeAttr('disabled');
                    $('#btn_sendmessage').removeClass('disabled');
                }

                function updateCountdown() {
                    // limited message body at 140 characters
                    var remaining = 140 - $('#message_body').val().length;
                    if (remaining > 0 && remaining < 140) {
                        enableSendButton();
                    } else {
                        disableSendButton();   
                    }
                    if (remaining < 21 && remaining >= 11) {
                        $('.countdown').removeClass('text-error muted');
                        //$('.countdown').addClass('text-warning');
                    } else if (remaining < 11) {
                        $('.countdown').removeClass('muted');
                        $('.countdown').addClass('text-error');
                    } else {
                        $('.countdown').removeClass('text-error');
                        $('.countdown').addClass('muted');
                    }
                    $('.countdown').text(remaining);
                }
                updateCountdown();
                $('#message_body').change(updateCountdown);
                $('#message_body').keyup(updateCountdown);
                $('#message_body').keydown(updateCountdown);

				
				$('#input_date').datepicker();
			
				$('#input_time').timepicker({
					  showMeridian: false,
					  minuteStep: 1,
					  defaultTime: false
				});

                $('#btn_sendmessage').click(function() {
                    var dateValue = $('[name="date_value"]').val();
                    var timeValue = $('[name="time_value"]').val();
                    var placeValue = $('[name="place"]').val();
                    var dateTimeValue = dateValue + ' ' + timeValue;
                    // send message with agenda
                    // validate the date, time, and place is not empty
                    if (dateValue != "" && timeValue != "" && placeValue != "") {
                        $('[name="agenda"]').val("true");
                    }
                });
			});
			
		</script>
		
{% endblock addition_head %}
{% block content  %}
<div id="content_body"> <!-- content_body-->
    {% block menu_bar %}
    <div class="navbar navbar-inverse " id="menu"> <!-- menu bar -->
        <div class="navbar-inner">
            <a href="/"  class="brand">Appointment Notification System</a>
            <ul class="nav nav-pills pull-right">
                <li><a href="/">Home</a></li>
                <li><a href="{% url agenda %}">Agenda</a></li>
                <li><a href="{% url contacts %}">Contacts</a></li>
                <li class="active"><a href="{% url messages %}" >Messages</a></li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="icon-user" style="margin-right:3px;"></b>{{ request.session.current_user.get_fullname }}
                <b class="caret" ></b></a>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a href="{% url help %}" >Help</a></li>
                    <li><a tabindex="-1" href="{% url accounts.user_profile %}">Settings</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="{% url ans.logout %}" >Logout</a></li>
                </ul>
                </li>
           </ul>
        </div> <!--End .navbar-inner -->
    </div> <!-- End div menu -->
    {% endblock menu_bar %}
    <div id="content" class="container-fluid">
					 <div class="row-fluid" > 
					 	<div id="topic_message" class="span4"> <!-- topic_message-->
					 			<ul class="nav nav-pills nav-stacked" >	
                                    <li  ><a href="{% url messages %}"><i class="icon-inbox" style="margin-right:5px;"></i>All Message<b class=" icon-chevron-right pull-right"></b></a></li>
                                    <li  ><a href="{% url missed_call.messages %}"><i class="icon-warning-sign" style="margin-right:5px;"></i>Missed Call Message<b class=" icon-chevron-right pull-right"></b></a></li>
						 			<li  class="active"><a href="#"><i class="icon-envelope" style="margin-right:5px;"></i>Send Message<b class=" icon-chevron-right pull-right"></b></a></li>
								</ul>
					 	</div> <!-- end topic_message-->
					 
    					<div  id="send_message" class="span8" > <!-- send_message-->
    						<div id="send_message_detail" class="span8" style="margin:7px; width:98%"> <!-- send_message_detail-->
    							<legend>Send Message</legend>
                                </div>
                                <div style="margin-left:20px;"> <!--test-->
                                <form action="{% url messages.send %}" method="post" autocomplete="off">
                                    {% csrf_token %}
    								<h5>Recipient</h5>
    							<div class="input-append" id="input_username" > <!-- input_username-->
                                        {% if recipient %}
                                        <input class="span4" size="16" type="text" placeholder="Recipient" name="recipient" value="{{ recipient }}">
                                        {% else %}
										<input class="span4" size="16" type="text" placeholder="Recipient" name="recipient">
                                        {% endif %}
										<span class="add-on"><i class="icon-user"></i></span> 
    							</div> <!-- end input_username-->
                                <!-- input_date -->
	    						<div class="input-append date" id="input_date" data-date="{% now "Y-m-d" %}" data-date-format="yyyy-mm-dd">
	    							<h5>Date</h5>
                                    <input class="span4" size="16" type="text" name="date_value" readonly>
										<span class="add-on"><i class="icon-calendar"></i></span>
				  				</div> <!-- end input_date-->
			  					<div class="input-append bootstrap-timepicker-component"> <!-- input_time-->
			  						<h5>Time</h5>
							    	<input id="input_time" class="span4" type="text"  size="16" name="time_value" readonly>
							    	<span class="add-on ">
							        <i class="icon-time"></i>
							    	</span>
								</div> <!-- end input-time -->

								<div id="input_place" > <!-- input place-->
									<div id="selector_place"  type="text" size="16" >
										<h5>Place</h5>
										<select style="width:210px;" name="place">
											 <option></option>
											 <option>CB 2</option>
											 <option>LNG</option>
											 <option>SIT Building</option>
											 <option>KMUTT Library</option>
										</select>
									</div>
								</div> <!-- end input place-->

								<div style=" margin-top:-10px; margin-right:20px; float:left;" > <!-- message_body-->
									<h5>Body</h5>
                                    <textarea rows="4" style="width:350px;" id="message_body" name="message_body"></textarea>
                                    <span class="countdown" style="width: 30px; float: right;"></span>
									
								</div> <!-- end message_body-->
                                <input type="hidden" name="missed_call" value="false">
                                <input type="hidden" name="agenda" value="false">
								<button class="btn disabled" type="submit" id="btn_sendmessage" style="color:black; margin-top:90px; margin-right:5px;" disabled="disabled"><b class="icon-envelope" ></b>Send Message</button>
                            </form>
								 
                        </div> <!-- send_message_detail-->
                    </div><!-- end_Test-->
    					</div> <!-- end send_message-->
  					</div>
					
				</div>
		
			</div> <!-- end content_body-->
{% block logout_modal %}
<!--Logout toggle-->
<div class="modal hide fade" id="logoutModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3>Logout ANS</h3>
    </div>
    <div class="modal-footer">
        <a href="{% url messages.send %}" class="btn">Close</a>
        <a href="{% url ans.logout %}" class="btn btn-danger">Logout</a>
    </div>
</div>

{% endblock logout_modal %}   
{% endblock content %}
