<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{{ STATIC_URL }}css/status_style.css" type="text/javascript" rel="stylesheet" media="screen"/>
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL}}js/jquery-placeholder.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.7.2.custom.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
<link href="{{ STATIC_URL }}css/jquery-ui-timepicker-addon.css" type="text/javascript" rel="stylesheet" media="screen"/>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-sliderAccess.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	
	$("#dateInput").datetimepicker();
	$("#dateInput").datetimepicker({ dateFormat: 'dd-mm-yy' });
	$("#dateInput").datepicker({ ampm: true});
	
	
	
	$("#dateInput").datepicker({minDate: 0});  
	$('#status_sendMessage').click(function(){
    $(this).parent().find('#status_sendMessage').css('border-color','#ffffff');
    $(this).css('border-color','#036fff');
	$("#status_sendMessage h1").css('color','#036fff');
	$("#status_information_set h1").css('color','#036');
	$("#status_information h1").css('color','#036');
	$(this).parent().find('#status_information').css('border-color','#333000');
	$(this).parent().find('#status_information_set').css('border-color','#333000');
});
	$('#status_information_set').click(function(){
    $(this).parent().find('#status_information_set').css('border_color','#ffffff');
    $(this).css('border-color','#036fff');
	$("#status_sendMessage h1").css('color','#036');
	$("#status_information_set h1").css('color','#036fff');
	$("#status_information h1").css('color','#036');
	$(this).parent().find('#status_sendMessage').css('border-color','#333000');
	$(this).parent().find('#status_information').css('border-color','#333000');
});
	$('#status_information').click(function(){
    $(this).parent().find('#status_information').css('border-color-color','#000000');
    $(this).css('border-color','#036fff');
	$("#status_sendMessage h1").css('color','#036');
	$("#status_information_set h1").css('color','#036');
	$("#status_information h1").css('color','#036fff');
	$(this).parent().find('#status_sendMessage').css('border-color','#333000');
	$(this).parent().find('#status_information_set').css('border-color','#333000');
});

});




</script>



<head>


<body>
	<div id="main" style="min-width: 1250px;">
    	<div id="container">
			<div id="header">
        		<div id="logo">
            	
            	</div> <!--End Logo-->
             		<div id="tagline">
                    
             		</div> <!--End tagline-->
                    <div id="nevigator_bar">
                    	<ul class="tabContainer">
          
                            <li><a href="." style=" background-image:url('{{ STATIC_URL }}images/blue_mid.png'); color:#03426E; ">Status</a></li>
                            <li><a href="/message/" style="background-image:url('{{ STATIC_URL }}images/green_mid.png'); color:#24571D;">Message</a></li>
                            <li><a href="/agenda/" style="background-image:url('{{ STATIC_URL }}images/red_mid.png'); color:#6F0100;">Agenda</a></li>
                            <li><a href="/contact/" style="background-image:url('{{ STATIC_URL }}images/orange_mid.png'); color:#7D4104;">Contact</a></li>
            
                           
                        </ul>
                    </div>
        
        	</div> <!--end header-->
    	 </div><!--End container-->
       
         
           <div class="clear"></div>
        	<div id="tabContent">
           	<div id="contentHolder">
            <div id="status_main">
        	<div id="status_information">
            <h1>Personal Information</h1>
            <img id="profile_pic" src='{{ STATIC_URL }}images/profile_pic.jpg' class="center" />
            <p>Welcome To ANS</p>
            <p id="id">ID : 522703xx</p>
            <p id="Name">Name : Routing Ginkoruma</p>
            <p id="availibility">Availibility : Appear offline</p>
            <p id="place">Place : -</p>
          		
            </div> <!--End status_information-->
            <div id="status_information_set">
            	<h1>Status Setting</h1>
                <p style=" font-size:18px; text-decoration:underline; margin-left:7px; margin-bottom:-4px; margin-top:-7px;">Availability</p>
                <form action="">
               	<input type="radio" name="availability" value="Appear Offline" /> Appear Offline<br />
				<input type="radio" name="availability" value="Available" /> Available<br />
                <input type="radio" name="availability" value="Busy" /> Busy<br />
                <input type="text"  name="availability" id="update_status" placeholder="Your current status is"    />
               </form>
              
              	<p style=" font-size:18px; text-decoration:underline; margin-left:7px; margin-bottom:-4px;">Place</p>
                 <form action="">
               	<input type="radio" name="place" value="sit" />   SIT<br />
				<input type="radio" name="place" value="cb2" /> CB2<br />
                <input type="radio" name="place" value="lng" /> LNG<br />
                <input type="radio" name="place" id="other" value="other">Other..<br />
                <input type="text" name="place" id="update_place" placeholder="Your current place is"    />
               </form>
            	<input type="submit" value="update status" id="btn_updateStatus" style="cursor: pointer; margin-top:10px;"/>
            </div><!--End status_information_set-->
            <div id="status_sendMessage">
            	<h1 >Message</h1>
            	<form action="status.html" method="post" id="send_message">
                	<table id="send_form" style="table-layout:fixed;">
                    	<tr>
           		         	<td><p class="detail">To:</p></td>
                        </tr>
                        <tr >
                        	<td><input type="text" name="name" id="send_username" required="required" /> </td> 
                        </tr>
                        <tr>
                        	<td><p class="detail">Subject:</p></td>
                        </tr>
                        <tr>
                        	<td><input type="text" name="subject" id="send_subject"  required="required" /> </td>
                        </tr>
                        <tr>
                        	<td><p class="detail">Date & Time:</p></td>
                        </tr>
                        <tr>
                        	<td><input type="text" name="dateInput" id="dateInput" />  </td>
                        </tr>
                        <tr>
                       <!--- 	<td><p class="detail">Place:</p>  <select name="placeInput" style="float:left;">
                                <option value="sit">SIT</option>
                                <option value="cb2">CB2</option>
                                <option value="lng">LNG</option>
                                </select> </td>
                          
                                -->
                        </tr>
                      
                        <tr>
                        
                        </tr>
                        <tr>
                        	<td><p class="detail">Body:</p></td>
                        </tr>
                       <tr> <td><textarea rows="5" cols="40" id="message_detail" >
                        
								</textarea></td>
                       </tr>
                       <tr>
                            	<td><input type="submit" value="Send Message" id="btn_sendMessage" style="cursor: pointer"/></td>
                       </tr>
                    </table>
                </form>
            
            </div><!--End status_sendMessage-->
            <div class="clear">
            
            </div><!--End class clear-->
        </div> <!--End main-->
   
                
            </div>
           </div>
    
         
         
         
         </div> <!---> 
    </div><!-- End main-->
</body>


</html>
