{% load dajaxice_templatetags %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
         <script src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
         <script src="{{ STATIC_URL }}js/jquery.js"></script>
         {% dajaxice_js_import %}
         <script type="text/javascript" charset="utf-8">
             function calculate() {
                 $('#loader').html('<img src="{{ STATIC_URL }}images/ajax-loader.gif" />');
                 $('#button').attr('disabled', 'disabled');
                 Dajaxice.ans_gcm.multiply(Dajax.process, {
                    'a': $('#a').val(),
                    'b': $('#b').val()
                })
             }

         </script>

        <title>Main</title>
        
    </head>
    <body>
         <input type="text" value="5" id="a" /> x
         <input type="text" value="5" id="b" /> =
         <input type="text" value="" id="result" />
         <input type="button" onclick="calculate();" value="Multiply!" id="button" />
         <div id="loader">
         </div>
    </body>
</html>

